@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700;800&family=MuseoModerno:wght@400;500;600;700;800&display=swap');

html {
    font-size: 16px;
}

body {
    background-color: #212529;
}

.turq-detail {
    color: #15F4EE;
}

.nav-cstm {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 2.75rem;
    font-weight: 800;
}

.link-cstm {
    font-size: 1.25rem;
}

.link-cstm li {
    margin: 0 1rem;
}

header {
    color: white;
}